.brand {
    background-image: linear-gradient(to right,$color-inside-1 0,$color-inside-1 20%,$color-inside-2 20%,$color-inside-2 40%,$color-inside-3 40%,$color-inside-3 60%,$color-inside-4 60%,$color-inside-4 80%,$color-inside-5 80%,$color-inside-5 100%);
    height: 10px;
    width: 100%;
    position: fixed;
    top:0;
}
.brand--footer {
    top:auto;
    bottom:0;
}

#title-footer {
    text-align: right;
    padding:15px 0;
    bottom:15px !important;
    a {
        color: #FFF;
        font-size: 20px;
        margin-right: 20px;
    }
}
.reveal {
    blockquote {
        color: #111;
    }

    .controls {
        top: 10px;
        bottom: auto;
    }

    .author {
        font-size:0.75em;
        text-align: right;
        font-style: italic;
        &::before {
            content: "-";
            display: inline;
            margin-right: 0.25em;
        }
    }

    .solution {
        color: $focusColor;
        &::before {
            content: "=>";
            margin-right:0.325em;
        }
    }

    // Align
    .align-left {
        text-align: left;
    }
    .align-right {
        text-align: right;
    }

    .focus {
        font-size: 1.25em;
        font-weight: bold;
    }

    section.quote {
        &:before {
            content:"";
            background: url('../resources/img/picto-quote.png');
            display: block;
            position:absolute;
            width:235px;
            height:205px;
            top:-170px;
            left:-150px;
        }
        &--yellow {
            &:before { background: url('../resources/img/picto-quote-yellow.png'); }
            h2 { color: $color-inside-2; }
        }
        &--red {
            &:before { background: url('../resources/img/picto-quote-red.png'); }
            h2 { color: $color-inside-4; }
        }
        &--green {
            &:before { background: url('../resources/img/picto-quote-green.png'); }
            h2 { color: $color-inside-3; }
        }
    }

    @media print {

        @page {size: A4 landscape;}

        /* use width if in portrait (use the smaller size to try
           and prevent image from overflowing page... */
        .stretch {
            display: inline-block;
            max-height: 700px !important;
            height: auto !important;
            width: auto !important;
            margin: auto !important;
        }
        #title-footer {
            display: none;
        }
    }

}
