$backgroundColor: #FFF;
$headingColor: rgb(25,117,188);

$mainFontSize: 40px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: rgb(69,118,181);
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$color-inside-1: #1d70b7;
$color-inside-2:#f9b233;
$color-inside-3:#00a099;
$color-inside-4:#e6381c;
$color-inside-5:#5f5e5e;
